@font-face {
    font-family: "IRANSansX Regular";
    src: url("../fonts/IRANSansX-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "IRANSansX Medium";
    src: url("../fonts/IRANSansX-Medium.woff2") format("woff2");
}
@font-face {
    font-family: "IRANSansX DemiBold";
    src: url("../fonts/IRANSansX-DemiBold.woff2") format("woff2");
}
@font-face {
    font-family: "IRANSansX Bold";
    src: url("../fonts/IRANSansX-Bold.woff2") format("woff2");
}
@font-face {
    font-family: "IRANSansX Black";
    src: url("../fonts/IRANSansX-Black.woff2") format("woff2");
}